In [1]:
import pandas as pd

rutas

In [2]:
cuarto2023 = "data/Simce 4° básico 2023/Archivos CSV (Planos)/simce4b2023_rbd_público_final.csv"
cuarto2022 = "data/Simce 4° básico 2022/Archivos CSV (Planos)/simce4b2022_rbd_final.csv"
# 2018 no ta en csv
# aca añadir mas:

aqui vamo convirtiendo cada ruta

In [10]:
df23 = pd.read_csv(cuarto2023, encoding='ISO-8859-1', sep=';')
df23.head()

,rbd,dvrbd,nom_rbd,cod_reg_rbd,nom_reg_rbd,cod_pro_rbd,nom_pro_rbd,cod_com_rbd,nom_com_rbd,cod_deprov_rbd,...,palu_eda_ele_lect4b_rbd,palu_eda_ade_lect4b_rbd,palu_eda_ins_mate4b_rbd,palu_eda_ele_mate4b_rbd,palu_eda_ade_mate4b_rbd,noaplica,fecha_bbdd,codigo_bbdd,grado,agno
0,11407,3,ESCUELA BASICA LOS OLIVOS,16,DE ÑUBLE,162,ITATA,16206,RÁNQUIL,161,...,0.0,0.0,0.0,0.0,0.0,0,20240418,final20240418v1,4b,2023
1,14324,3,COLEGIO WILLIAM JAMES,5,DE VALPARAÍSO,51,VALPARAÍSO,5109,VIÑA DEL MAR,53,...,0.0,0.0,0.0,0.0,0.0,0,20240418,final20240418v1,4b,2023
2,24403,1,COLEGIO SIMON BOLIVAR,13,METROPOLITANA DE SANTIAGO,131,SANTIAGO,13112,LA PINTANA,136,...,40.0,13.3,68.4,31.6,0.0,0,20240418,final20240418v1,4b,2023
3,2917,3,ESCUELA RAUCO,7,DEL MAULE,73,CURICÓ,7305,RAUCO,71,...,40.0,15.0,60.0,40.0,0.0,0,20240418,final20240418v1,4b,2023
4,4506,3,ESCUELA HÉROES DE CHILE,8,DEL BIOBÍO,83,BIOBÍO,8313,YUMBEL,82,...,10.0,26.7,63.3,36.7,0.0,0,20240418,final20240418v1,4b,2023