In [1]:
import pandas as pd

rutas

In [2]:
cuarto2023 = "data/Simce 4° básico 2023/Archivos CSV (Planos)/simce4b2023_rbd_público_final.csv"
cuarto2022 = "data/Simce 4° básico 2022/Archivos CSV (Planos)/simce4b2022_rbd_final.csv"
# 2018 no ta en csv
# aca añadir mas:

aqui vamo convirtiendo cada ruta

In [7]:
df = pd.read_csv(cuarto2023, encoding='ISO-8859-1', on_bad_lines='skip')
df.head()

# me lo imprime como las weas

  rbd;dvrbd;nom_rbd;cod_reg_rbd;nom_reg_rbd;cod_pro_rbd;nom_pro_rbd;cod_com_rbd;nom_com_rbd;cod_deprov_rbd;nom_deprov_rbd;cod_depe1;cod_depe2;cod_grupo;cod_rural_rbd;nalu_lect4b_rbd;nalu_mate4b_rbd;prom_lect4b_rbd;prom_mate4b_rbd;dif_lect4b_rbd;dif_mate4b_rbd;difgru_lect4b_rbd;difgru_mate4b_rbd;sigdif_lect4b_rbd;sigdif_mate4b_rbd;siggru_lect4b_rbd;siggru_mate4b_rbd;marca_lect4b_rbd;marca_mate4b_rbd;marcadif_lect4b_rbd;marcadif_mate4b_rbd;palu_eda_ins_lect4b_rbd;palu_eda_ele_lect4b_rbd;palu_eda_ade_lect4b_rbd;palu_eda_ins_mate4b_rbd;palu_eda_ele_mate4b_rbd;palu_eda_ade_mate4b_rbd;noaplica;fecha_bbdd;codigo_bbdd;grado;agno
0  11407;3;ESCUELA BASICA LOS OLIVOS;16;DE ÑUBLE;...
1  14324;3;COLEGIO WILLIAM JAMES;5;DE VALPARAÍSO;...
2  24403;1;COLEGIO SIMON BOLIVAR;13;METROPOLITANA...
3  2917;3;ESCUELA RAUCO;7;DEL MAULE;73;CURICÓ;730...
4  4506;3;ESCUELA HÉROES DE CHILE;8;DEL BIOBÍO;83...