In [1]:
import pandas as pd

rutas

In [15]:
cuarto2023 = "data/Simce 4° básico 2023/Archivos CSV (Planos)/simce4b2023_rbd_público_final.csv"
cuarto2022 = "data/Simce 4° básico 2022/Archivos CSV (Planos)/simce4b2022_rbd_final.csv"
cuarto2018 = 'data/Simce 4° básico 2018/Archivos XLS (XLSX)/simce4b2018_rbd_publica_final.xlsx'
cuarto2017 = "data/Simce 4° Basico 2017/Archivos XLS (XLSX)/simce4b2017_rbd_publica_final.xlsx"
# aca añadir mas:

### IMPORTANTE
Hay que ver manualmente cual es la separacion de cada csv (ej, el del primero es un ";" y el del segundo es un "|", asi que no se puede usar el mismo codigo para todos)

### FILAS RELEVANTES
Vayamos dejando las filas de

- nombre
- vulnerabilidad
- "añadir otros aqui"

In [26]:
# filtrado

def filtrar(df):
    df = df.drop(['agno', 'palu_eda_ins_lect4b_rbd'], axis=1)
    return df

# luego ir añadiendo mas :)

In [27]:
df23 = pd.read_csv(cuarto2023, encoding='ISO-8859-1', sep=';')
df23 = filtrar(df23)
df23.head()

,rbd,dvrbd,nom_rbd,cod_reg_rbd,nom_reg_rbd,cod_pro_rbd,nom_pro_rbd,cod_com_rbd,nom_com_rbd,cod_deprov_rbd,...,marcadif_mate4b_rbd,palu_eda_ele_lect4b_rbd,palu_eda_ade_lect4b_rbd,palu_eda_ins_mate4b_rbd,palu_eda_ele_mate4b_rbd,palu_eda_ade_mate4b_rbd,noaplica,fecha_bbdd,codigo_bbdd,grado
0,11407,3,ESCUELA BASICA LOS OLIVOS,16,DE ÑUBLE,162,ITATA,16206,RÁNQUIL,161,...,2.0,0.0,0.0,0.0,0.0,0.0,0,20240418,final20240418v1,4b
1,14324,3,COLEGIO WILLIAM JAMES,5,DE VALPARAÍSO,51,VALPARAÍSO,5109,VIÑA DEL MAR,53,...,2.0,0.0,0.0,0.0,0.0,0.0,0,20240418,final20240418v1,4b
2,24403,1,COLEGIO SIMON BOLIVAR,13,METROPOLITANA DE SANTIAGO,131,SANTIAGO,13112,LA PINTANA,136,...,NaN,40.0,13.3,68.4,31.6,0.0,0,20240418,final20240418v1,4b
3,2917,3,ESCUELA RAUCO,7,DEL MAULE,73,CURICÓ,7305,RAUCO,71,...,NaN,40.0,15.0,60.0,40.0,0.0,0,20240418,final20240418v1,4b
4,4506,3,ESCUELA HÉROES DE CHILE,8,DEL BIOBÍO,83,BIOBÍO,8313,YUMBEL,82,...,NaN,10.0,26.7,63.3,36.7,0.0,0,20240418,final20240418v1,4b

In [25]:
df22 = pd.read_csv(cuarto2022, encoding='ISO-8859-1', sep='|')
df22 = filtrar(df22)
df22.head()

,grado,rbd,dvrbd,nom_rbd,cod_reg_rbd,nom_reg_rbd,cod_pro_rbd,nom_pro_rbd,cod_com_rbd,nom_com_rbd,...,marcadif_lect4b_rbd,marcadif_mate4b_rbd,palu_eda_ele_lect4b_rbd,palu_eda_ade_lect4b_rbd,palu_eda_ins_mate4b_rbd,palu_eda_ele_mate4b_rbd,palu_eda_ade_mate4b_rbd,noaplica,fecha_bbdd,codigo_bbdd
0,4b,7423,3,ESCUELA RURAL ALEJANDRO VASQUEZ BALDEVELLANO,10,DE LOS LAGOS,103,OSORNO,10307,SAN PABLO,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0,20231017,final20231017v2
1,4b,5834,3,ESC. BASICA ALTO MECO,9,DE LA ARAUCANÍA,91,CAUTÍN,9108,LAUTARO,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0,20231017,final20231017v2
2,4b,4506,3,ESCUELA HÉROES DE CHILE,8,DEL BIOBÍO,83,BIOBÍO,8313,YUMBEL,...,NaN,NaN,26.1,4.3,79.2,20.8,0.0,0,20231017,final20231017v2
3,4b,11407,3,ESCUELA BASICA LOS OLIVOS,16,DE ÑUBLE,162,ITATA,16206,RÁNQUIL,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0,20231017,final20231017v2
4,4b,14324,3,COLEGIO WILLIAM JAMES,5,DE VALPARAÍSO,51,VALPARAÍSO,5109,VIÑA DEL MAR,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0,20231017,final20231017v2

In [13]:
df18 = pd.read_excel(cuarto2018)
df18 = filtrar(df18)
df18.head()

,grado,rbd,dvrbd,nom_rbd,cod_reg_rbd,nom_reg_rbd,cod_pro_rbd,nom_pro_rbd,cod_com_rbd,nom_com_rbd,...,marcadif_lect4b_rbd,marcadif_mate4b_rbd,palu_eda_ele_lect4b_rbd,palu_eda_ade_lect4b_rbd,palu_eda_ins_mate4b_rbd,palu_eda_ele_mate4b_rbd,palu_eda_ade_mate4b_rbd,noaplica,fecha_bbdd,codigo_bbdd
0,4b,5,1,JOVINA NARANJO FERNANDEZ,15,Región de Arica y Parinacota,151,ARICA,15101,Arica,...,NaN,NaN,33.3,39.4,51.4,28.6,20.0,0,20190628,final20190628v1
1,4b,8,6,COLEGIO INTEGRADO EDUARDO FREI MONTALVA,15,Región de Arica y Parinacota,151,ARICA,15101,Arica,...,NaN,NaN,33.3,38.1,33.3,37.5,29.2,0,20190628,final20190628v1
2,4b,9,4,ESCUELA REPUBLICA DE ISRAEL,15,Región de Arica y Parinacota,151,ARICA,15101,Arica,...,NaN,NaN,18.1,71.5,14.1,38.9,47.0,0,20190628,final20190628v1
3,4b,10,8,ESCUELA REPUBLICA DE FRANCIA,15,Región de Arica y Parinacota,151,ARICA,15101,Arica,...,NaN,NaN,53.8,15.4,58.3,33.3,8.3,0,20190628,final20190628v1
4,4b,11,6,ESC. GRAL. PEDRO LAGOS MARCHANT,15,Región de Arica y Parinacota,151,ARICA,15101,Arica,...,NaN,NaN,21.3,19.1,81.8,18.2,0.0,0,20190628,final20190628v1

In [16]:
df17 = pd.read_excel(cuarto2017)
df17 = filtrar(df17)
df17.head()

,grado,rbd,dvrbd,nom_rbd,cod_reg_rbd,nom_reg_rbd,cod_pro_rbd,nom_pro_rbd,cod_com_rbd,nom_com_rbd,...,marca_lect4b_rbd,marca_mate4b_rbd,marcadif_lect4b_rbd,marcadif_mate4b_rbd,palu_eda_ele_lect4b_rbd,palu_eda_ade_lect4b_rbd,palu_eda_ins_mate4b_rbd,palu_eda_ele_mate4b_rbd,palu_eda_ade_mate4b_rbd,noaplica
0,4b,24403,1,COLEGIO SIMON BOLIVAR,13,METROPOLITANA DE SANTIAGO,1,SANTIAGO,17,LA PINTANA,...,NaN,NaN,NaN,NaN,48.1,33.3,29.6,55.6,14.8,0
1,4b,2917,3,ESCUELA RAUCO,7,DEL MAULE,1,CURICÓ,9,RAUCO,...,NaN,NaN,NaN,NaN,30.6,22.2,71.4,17.1,11.4,0
2,4b,4506,3,ESCUELA HÉROES DE CHILE,8,DEL BIOBÍO,2,BIOBÍO,13,YUMBEL,...,NaN,NaN,2.0,2.0,20.5,20.5,77.8,20.0,2.2,0
3,4b,5834,3,ESC. BASICA ALTO MECO,9,DE LA ARAUCANÍA,2,CAUTÍN,2,LAUTARO,...,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,0
4,4b,7423,3,ESCUELA RURAL ALEJANDRO VASQUEZ BALDEVELLANO,10,DE LOS LAGOS,2,OSORNO,2,SAN PABLO,...,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,0